<!--Navbar-->

<nav class="navbar navbar-expand-lg navbar-dark blue-gradient">
    <div class="container">

        <!-- Navbar brand -->
        <a class="btn-floating btn-lg btn-ins" href="{% url 'index' %}">
            <i class="fab fa-instagram text-white"> Insta_Clone</i></a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i>Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'profile' user.id%}"><i class="far fa-user-circle"></i>Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/accounts/password/change"><i class="fas fa-key"></i>Change Password</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
                </li>
            </ul>
        </div>
        {% else %}
        <div class="collapse navbar-collapse" id="basicExampleNav"></div>

        <li class="nav-item active mt-3">
            <a class="nav-link" href="/accounts/login"><i class="fas fa-sign-in-alt"></i>Login</a>
        </li>
        <li class="nav-item active mt-3">
            <a class="nav-link" href="/accounts/register"><i class="fas fa-user-plus"></i>Sign Up</a>
        </li>

    </div>

    {% endif %}

    <form class="navbar-form navbar-right form-inline md-form form-sm active-cyan-2" action="{% url 'search' %}">
        <div class="form-group white-text">
            <input type="text" class="form-control form-control-sm mr-3 w-75" placeholder="Search here" name="search"
                aria-label="Search">

            <button type="submit"><i class="fas fa-search" aria-hidden="true"></i></i></button>
        </div>
    </form>
    </div>
    <!-- Collapsible content -->
    </div>
</nav>
<!--/.Navbar-->